.DS_Store
SDL2-2.0.8/.DS_Store
libft/.DS_Store
libvec/.DS_Store
libvec/src/.DS_Store
libvec/includes/.DS_Store
includes/.DS_Store
src/.DS_Store
scenes/.DS_Store
obj
libvec/obj
libvec/libvec.a
libft/*.o
libft/libft.a
RTv1
SDL2-2.0.8/
